<!DOCTYPE html>
<html>
<head>
<title>RedPocket - Scotiabank HackIT</title>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="{{STATIC_URL}}/static/angular.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}/static/foundationapp/bower_components/foundation/js/foundation.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}/static/main.js" type="text/javascript"></script>
  <link rel="stylesheet" href="{{STATIC_URL}}/static/foundationapp/stylesheets/app.css" type="text/css"></link>
</head>
<body>


{% block content %}{% endblock %}

</body>
</html>
