{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="redpocket" ng-app="redpocket" class="row">
  <div class="wrapper columns large-12" ng-controller="MainController as main">
    {% verbatim %}
      <div ng-show="show" class="balance">
        a${{main.chequing_balance}}
      </div>
      <div ng-show="show==false" class="balance pseudo-balance">
        b${{main.pseudo_balance}}
      </div>
      <div class="show" ng-mouseenter="show=true" ng-mouseleave="show=false">show</div>
    {% endverbatim %}
    <div ng-show="main.pseudo_balance < 0" class="negative-balance">
      You've started to dig into your goals =(
    </div>
    <ul>
      <li ng-repeat="goal in main.goals track by $index">
        {% verbatim %}
          {{goal.balance}} : {{goal.goal}}: {{goal.name}}<button ng-click="main.deleteGoal(goal.name, $index)">x</button>
          <button ng-click="main.addToGoal(goal)"></button>
          <input type="number" ng-model="goal.addition"/>
        {% endverbatim %}
      </li>
      <li>
        <div class="new-goal">
          <div class="new-goal-form">
            <form ng-submit="main.newGoal()">
              {% csrf_token %}
              <input id="id_name" ng-model="main.new_goal_name" maxlength="60" name="name" type="text">
              <input id="id_goal" ng-model="main.new_goal_goal" name="goal" step="any" type="number">
              <input class="submit-button-hide" type="submit" value="add">
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}