{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="redpocket" ng-app="redpocket" class="row">
  <div class="wrapper columns large-12" ng-controller="MainController as main">
    {% verbatim %}
      <div class="balance-wrapper" ng-mouseenter="show=true" ng-mouseleave="show=false">
        <div ng-show="show" class="balance actual-balance">
          ${{main.chequing_balance | number:2}}
        </div>
        <span ng-show="!show" class="balance pseudo-balance">
          ${{main.pseudo_balance | number:2}}
        </span>
      </div>
    {% endverbatim %}
    <div ng-show="main.pseudo_balance < 0" class="negative-balance">
      You've started to dig into your goals =(
    </div>
    <div class="goal-wrapper">
      <ul class="small-block-grid-3">
        <li ng-repeat="goal in main.goals track by $index">
          <div ng-mouseenter="hovered_goal=$index; main.updateProgressBar($index)" ng-mouseleave="hovered_goal=-1">
            <div ng-show="hovered_goal==-1">
              <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
              </svg>
            </div>
            <div class="under-pocket" ng-show="hovered_goal==$index">
              <span ng-click="main.deleteGoal(goal.name, $index)" class="delete-goal">x</span>
              <form class="add-form" ng-submit="main.addToGoal(goal, $index)">
                <span class="pocket-balance">
                  {% verbatim %}
                    ${{goal.balance | number:2}}
                  {% endverbatim %}
                </span>
                <input class="add-input" type="text" ng-model="goal.addition" placeholder="add"/>
                {% verbatim %}
                  <div class="progress-wrap progress-wrap-{{$index}} progress">
                    <div class="progress-bar progress-bar-{{$index}} progress"></div>
                  </div>
                {% endverbatim %}
              </form>
            </div>
            {% verbatim %}
              {{goal.name}}
            {% endverbatim %}
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="columns small-centered small-5">
          <ul class="add-ul">
            <li ng-mouseenter="show_new_goal=true" ng-mouseleave="show_new_goal=false">
              <div ng-show="show_new_goal" class="new-goal-form">
                <form ng-submit="main.newGoal()">
                  {% csrf_token %}
                  <input id="id_name" placeholder="new goal" ng-model="main.new_goal_name" maxlength="60" name="name" type="text">
                  <input id="id_goal" placeholder="total" ng-model="main.new_goal_goal" name="goal" step="any" type="text">
                  <input class="submit-button-hide" type="submit" value="add">
                </form>
              </div>
              <div ng-show="!show_new_goal">
                <span class="add">+</span>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
{% endblock %}